language: haskell

dist: bionic

addons:
  apt:
    sources:
    - deadsnakes
    - sourceline: 'ppa:hvr/ghc'


git:
  depth: 5

branches:
  only:
  - master
  - travis_stuff

cabal:
  - 2.2
  - 2.4
  - 3.0

ghc:
  - 8.8.2
  - 8.6.5
  - 8.4.4

# jobs notes:
# test last 3 major ghc versions with latest cabal
# test them with the cabal they come with

jobs:
  include:
  - name: "8.8.2 / 3.0"
    ghc: "8.8.2"
    cabal: "3.0"
  - name: "8.6.5 / 3.0"
    ghc: "8.6.5"
    cabal: "3.0"
  - name: "8.4.4 / 3.0"
    ghc: "8.4.4"
    cabal: "3.0"
  - name: "8.6.5 / 2.4"
    ghc: "8.6.5"
    cabal: "2.4"
  - name: "8.4.4 / 2.2"
    ghc: "8.4.4"
    cabal: "2.2"


cache:
  directories:
  - "$HOME/.cabal/store"

install:
  - ghc --version
  - cabal --version
  - cabal update
  - cabal check
  - cabal outdated
  - cabal configure --enable-tests --enable-benchmarks
  - cabal build 

script:
  - cabal test
