language: haskell

dist: bionic

addons:
  apt:
    sources:
    - deadsnakes
    - sourceline: 'ppa:hvr/ghc'


git:
  depth: 5

branches:
  only:
  - master
  - travis_stuff

# jobs notes:
# test last 3 major ghc versions with latest cabal
# test them with the cabal they come with
# update: life's too short for the second one
# deal with it if anyone asks

cabal-install:
  - 3.0
cabal:
  - 3.0

ghc:
  - 8.8.2
  - 8.6.5
  - 8.4.4


# jobs:
#   include:
#   - name: "ghc 8.8.2 / cabal-install 3.0"
#     ghc: "8.8.2"
#     cabal-install: "3.0"
#   - name: "ghc 8.6.5 / cabal-install 3.0"
#     ghc: "8.6.5"
#     cabal-install: "3.0"
#   - name: "ghc 8.4.4 / cabal-install 3.0"
#     ghc: "8.4.4"
#     cabal-install: "3.0"
# #  - name: "ghc 8.6.5 / cabal-install 2.4"
# #    ghc: "8.6.5"
# #    cabal-install: "2.4"
# #  - name: "ghc 8.4.4 / cabal-install 2.2"
# #    ghc: "8.4.4"
# #    cabal-install: "2.2"

cache:
  directories:
  - "$HOME/.cabal/store"

install:
  - ghc --version
  - cabal --version
  - cabal update
  - cabal check
  - cabal outdated
  - cabal configure --enable-tests --enable-benchmarks
  - cabal build 

script:
  - cabal test
  - cabal run teaberry -- -p examples/tests/fulltests/tour.tea
