
language: haskell
dist: bionic

addons:
  apt:
    sources:
    - deadsnakes
    - sourceline: 'ppa:hvr/ghc'

git:
  depth: 5

cache:
 directories:
 - $HOME/.cabal/packages
 - $HOME/.cabal/store
 - $HOME/.cabal/bin

branches:
  only:
  - master
  - travis_stuff

cabal-install:
  - 3.0
cabal:
  - 3.0

ghc:
  - 8.8.2
  - 8.6.5
  - 8.4.4

install:
  - ghc --version
  - cabal --version
  - cabal update
  - cabal check
  - cabal outdated
  - cabal build --enable-tests --enable-benchmarks

script:
  - cabal run RunTests -- --ansi-tricks=false 
  - cabal run teaberry -- -p examples/tests/fulltests/tour.tea

